{% extends 'auth/base.html' %}
{% block content %}
<div class="container my-5">
    
    <div >
        
        
    </div>
    <div class="py-5 mx-auto text-success text-center">
        <h1>Email verified</h1>
        <iframe class="w-100 " width ="200" src="https://embed.lottiefiles.com/animation/114253"></iframe>
        <h3>Your Account is Activated, Now You can Login</h3>
    <button class="btn btn-success w-100 my-3" type="submit"> <a class="text-decoration-none text-white" href="/signin">click here to Login</a> </button>
    </div>
    
</div>

{% endblock content %}
    
