<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <style>
        .alert-success {
            color: green;
            font-weight: bold;
        }
        .alert-error{
            color:red;
            font-weight: bold;
        }

    </style>
</head>
<body>
    <h1>Forgot password</h1>

    {% for message  in messages  %}
    <div class="alert alert-{{ message.tags }} alert-dimissible fade show "  role="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    <br>

    <form action="" method="post">
        {% csrf_token %}
       {{form.as_p}}
        <button type="submit">get reset link</button>
    </form>
    
</body>
</html>