{% extends './base.html' %}
{% block content %}
<div class="container my-5 py-5">

    <div class="bg-dark text-white py-3 px-2 mb-2"><h1 >This is Login System Page</h1></div>
    
    {% for message  in messages  %}
    <div class="alert alert-{{ message.tags }} alert-dimissible fade show "  role="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <h2>Hello {{fname}}</h2>
    <h3>You are Successfully loged in.......</h3>
    <button class="btn btn-primary" type="submit"> <a class="text-decoration-none text-white" href="signout">Sign Out</a> </button>
    {% else %}
    
    <button class="btn btn-primary" type="submit"> <a class="text-decoration-none text-white" href="signup">Sign Up</a> </button>
    <button class="btn btn-primary" type="submit"><a class="text-decoration-none text-white" href="signin">Sign In</a> </button>
    {% endif %}
</div>
{% endblock content %}