<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login System</title>
</head>
<body>
    <h1>This is Login System Page</h1>
    {% for message  in messages  %}
    <div class="alert alert-{{ message.tags }} alert-dimissible fade show "  role="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <h2>Hello {{fname}}</h2>
    <h3>You are Successfully loged in.......</h3>
    <button type="submit"> <a href="signout">Sign Out</a> </button>
    {% else %}
    
    <button type="submit"> <a href="signup">Sign Up</a> </button>
    <button type="submit"><a href="signin">Sign In</a> </button>
    {% endif %}
</body>
</html>