{% extends './base.html' %}
{% block content %}
<h1>Sign Up</h1>
 

    <div class="container">
        <form action="" method="post"  >
            {% csrf_token %}
            <div class="form-group">
              <label for="username">username</label>
              <input type="text" class="form-control" id="username" name = "username"aria-describedby="username" placeholder="Enter username" required>
            </div>
            <div class="form-group">
              <label for="username">first name</label>
              <input type="text" class="form-control" id="firstname" name = "firstname"aria-describedby="fiestname" placeholder="Enter First Name" required>
            </div>
            <div class="form-group">
              <label for="username">last name</label>
              <input type="text" class="form-control" id="lastname" name = "lastname"aria-describedby="lastname" placeholder="Enter Last name" required>
            </div>
            <div class="form-group">
              <label for="username">email</label>
              <input type="email" class="form-control" id="email" name = "email"aria-describedby="emailHelp" placeholder="Enter eamil" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="pass1" placeholder="Password" required>
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" class="form-control" id="password" name="pass2" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary my-3 w-100 bg-dark">Register</button>

            <div class="form-group mb-5 ">
                <label  for="">if you Already Account</label><br>
                <a  href="signin">log in</a> 
              </div>
            
          </form>
            
          {% comment %} <a href="forgot">forgot password</a> {% endcomment %}

    </div>
    {% endblock content %}