<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>

   

    <h1>Sign In</h1>
    {% for message in messages %}
    <div style="color: red;" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </div>
    {% endfor %}
    <br>

    <form action="" method="post">
        {% csrf_token %}
        <label for="">username</label>
        <input type="text" name="username" id="username" placeholder="create a username" required>
        <br>        
        <label for=""> password</label>
        <input type="password" name="pass1" id="pass1" placeholder="enter password" required>
        <br>
        <button type="submit">Sign In</button>
        <br>
        <label for="">if you haven't account please create</label><br>
        <button type="submit"> <a href="signup">Create Account</a> </button>
       <a href="forgot">forgot password</a>
        
    </form>
    
</body>
</html>